main {
  background-color: #fff;
  padding-bottom: 2em;
}
#master {
  margin-left: 2em;
}
main h2 {
  text-align: center;
  margin-bottom: 1em;
}
main section{
  position: relative;
  max-width: 90%;
  margin: 2em auto;
}
main section section, main section article{
  position: relative;
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
main section section {
  width: 20%;
  margin-left: 5%;
  margin-right: 4%;
  min-height: 480px;
}
main p{
  color: #212121;
  font-size: 1.6em !important;
  margin-bottom: 1em;
}
main img{
  max-width: 300px;
  border-radius: 50%;
  top: 40%;
}
main article:last-child{
  position: relative;
}
main ul{
  text-align: left;
}
main li {
  color: #212121;
  font-size: 1.6em !important;
}
