main {
  background-color: #fff;
  padding-bottom: 2em;
}

main h2 {
  text-align: center;
  margin-bottom: 1em;
}
main section{
  position: relative;
  max-width: 90%;
  margin: 2em auto;
}
main section section, main section article{
  position: relative;
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
main section section {
  width: 20%;
  margin-left: 5%;
  margin-right: 4%;
}
main h3 {
  font-family: var(--subtitle-font);
  font-size: 1em;
  text-align: center;
  margin-top: 360px;
}
main p{
  color: var(--main-dark-color);
  font-size: 1.6em !important;
  margin-bottom: 1em;
}
main img{
  max-width: 300px;
  border-radius: 50%;
  top: 40%;
}
main article:last-child{
  position: relative;
}
main ul{
  text-align: left;
}
main li {
  color: var(--main-dark-color);
  font-size: 1.6em !important;
}
