header{
  position: relative;
  background: url('../../images/header-2-large.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
menu{
  width: 100%;
  text-align: right;
}
menu li{
  display: inline-block;
  margin: 2.8em;
  font-family: var(--subtitle-font);
  font-size: 1.5em;
}
menu li:last-child {
  margin-right: 5%;
}
menu a{
  text-decoration: none;
  color: antiquewhite;
}
header section {
  position: absolute;
  width: 36%;
  bottom: 15%;
  right: 9%;
}
header h1 {
  text-align: center;
  color: var(--main-light-color);
  font-family: var(--subtitle-font);
  font-family: 'Catamaran', sans-serif;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  font-size: 5em;
  line-height: 1.4;
}
