* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Average', serif;
  font-size: 1.2em;
}
body, body section.price h3, body section.price p {
  font-family: 'Average', serif;
}
body section {
  font-family: 'Montserrat', sans-serif;
}
.title {
  margin: 0 1em;
}
.absolute-center{
  width: 85%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
